:root {
  --accent: #D52027;

  --font-base: #141024;
  --font-accent: rgb(20 16 36 / 70%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jost*', sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
}

a, button {
  color: inherit;
  transition: color 0.2s ease;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 60px;

  font-size: 50px;
  color: var(--font-base);
}

.name {
  font-size: 24px;
  color: var(--font-base);
}

.profession, .detailing, .close-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--font-accent);
  line-height: 1.6;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 10px;
  }

  .section-title {
    margin-bottom: clamp(2.5rem, 2.083rem + 2.08vw, 3.75rem); /* https://min-max-calculator.9elements.com/?40,60,320,1280 */

    font-size: clamp(1.875rem, 1.458rem + 2.08vw, 3.125rem); /* https://min-max-calculator.9elements.com/?30,50,320,1280 */
    line-height: clamp(2.625rem, 1.833rem + 3.96vw, 5rem); /* https://min-max-calculator.9elements.com/?42,80,320,1280 (1.4-1.6) */
  }
}