.results {
  min-height: 485px;
  padding: 100px 0;

  background-color: #F9F9F9;

  color: var(--font-base);
}

.list-of-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 360px;
}

.result-title {
  font-size: 24px;
}

.result:last-child .result-title {
  width: min-content;
  position: relative;
}

.info-badge {
  display: inline-block;
  width: 24px;
  border-radius: 50%;

  position: absolute;
  right: -38px;

  font-size: 15px;
  font-weight: 400;
  text-align: center;
  vertical-align: super;

  background-color: var(--background-accent);
}

.info-popover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 251px;
  height: 56px;
  padding: 15px 20px;

  border-radius: 5px;

  font-weight: 400;
  font-size: 16px;
  text-align: center;

  background-color: var(--base-white);
  box-shadow: 0 2px 8px 0 rgba(20, 16, 36, 0.1);
}

.result-description {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .results {
    padding:
      clamp(2.5rem, 1.25rem + 6.25vw, 6.25rem) /* https://min-max-calculator.9elements.com/?40,100,320,1280 */
      0 
      clamp(3.25rem, 2.25rem + 5vw, 6.25rem); /* https://min-max-calculator.9elements.com/?52,100,320,1280 */

    text-align: center;
  }

  .result {
    row-gap: clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem); /* https://min-max-calculator.9elements.com/?10,20,320,1280 */
    width: clamp(18.75rem, 17.5rem + 6.25vw, 22.5rem); /* https://min-max-calculator.9elements.com/?300,360,320,1280 */
  }

  .result-title {
    font-size: clamp(1.25rem, 1.167rem + 0.42vw, 1.5rem); /* https://min-max-calculator.9elements.com/?20,24,320,1280 */
  }

  .result:last-child .result-title {
    align-self: center;
  }

  .result-description {
    font-size: clamp(1rem, 0.958rem + 0.21vw, 1.125rem); /* https://min-max-calculator.9elements.com/?16,18,320,1280 */
  }
}