:root {
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-sides-offset: 34.347%;
  --swiper-scrollbar-size: 5px;
  --swiper-scrollbar-bg-color: var(--background-accent);
  --swiper-scrollbar-drag-bg-color: var(--font-base);
}

.swiper-scrollbar {
  left: 0 !important; 
}

.swiper-scrollbar,
.swiper-button-prev,
.swiper-button-next {
  position: relative !important;
}

.swiper-button-prev,
.swiper-button-next {
  left: 0 !important;
  right: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;
}

.trainers {
  margin-top: 120px;
}

.card-of-trainer {
  display: flex !important;
  flex-direction: column;
  flex-shrink: 0;
}

.card-of-trainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transition: box-shadow 0.3s;

  z-index: 1;
}

.card-of-trainer:before, .photo {
  border-radius: 20px;
}

.photo {
  overflow: hidden;
}

.photo img {
  transition: 0.3s;
}

.card-of-trainer .name, 
.card-of-trainer .detailing {
  margin-top: 20px;
}

.card-of-trainer .profession {
  margin-top: 10px;
}

.detailing {
  margin-bottom: 20px;

  color: var(--accent);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-top: 40px;
  padding-right: 10px;
}

.button-prev, .button-next {
  width: 34px !important;
  height: 34px !important;
  margin: 3px;

  border-radius: 50%;

  background-color: var(--base-white);
  background-image: url('./../../img/trainers/arrow_left.svg');
}

.button-prev {
  margin-left: auto;
}

.button-next {
  transform: rotate(180deg);
}

@media (hover: hover) and (pointer: fine) {
  .card-of-trainer:hover:before {
    box-shadow: inset 0 0 35px 10px var(--background-accent);
  }

  .card-of-trainer:hover img {
    transform: scale(1.1);
  }

  .card-of-trainer,
  .scrollbar:hover {
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .trainers {
    margin-top: clamp(3.75rem, 2.5rem + 6.25vw, 7.5rem); /* https://min-max-calculator.9elements.com/?60,120,320,1280 */
  }

  .card-of-trainer .name {
    font-size: clamp(1.25rem, 1.167rem + 0.42vw, 1.5rem); /* https://min-max-calculator.9elements.com/?20,24,320,1280 */
  }
  
  .card-of-trainer .profession {
    font-size: clamp(0.875rem, 0.792rem + 0.42vw, 1.125rem); /* https://min-max-calculator.9elements.com/?14,18,320,1280 */
  }

  .card-of-trainer .detailing {
    font-size: clamp(1rem, 0.958rem + 0.21vw, 1.125rem); /* https://min-max-calculator.9elements.com/?16,18,320,1280 */
  }

  .controls {
    margin-top: clamp(0.625rem, 3.13vw, 2.5rem); /* https://min-max-calculator.9elements.com/?10,40,320,1280 */
  }
}

@media (max-width: 959px) {
  :root {
    --swiper-scrollbar-sides-offset: 28%;
  }

  .trainers .container {
    max-width: 626px;
  }
}

@media (max-width: 479px) {
  :root {
    --swiper-scrollbar-sides-offset: 0%;
  }

  .card-of-trainer.swiper-slide {
    max-width: 220px;
  }

  .controls {
    height: 37px;
    padding-right: 0;
  }

  .swiper-button-prev.button-prev, 
  .swiper-button-next.button-next {
    display: none;
  }
}